.rating {
    direction: rtl;
    unicode-bidi: bidi-override;
    font-size: 30px;
}

.rating input {
    display: none;
}

.rating label {
    color: #ddd;
    cursor: pointer;
}

.rating input:checked ~ label {
    color: gold;
}

.rating input:hover ~ label {
    color: gold;
}

.rating input:hover ~ input ~ label {
    color: #ddd;
}